<% quote = @quotes.sample %>

<div class="d-flex justify-content-center mt-5">
	<div class="jumbotron">
		<p class="display-4" id="clickme">
		<%= image_tag("quotes", size: "20x40") %>
		<%= quote.body %>
		<%= image_tag("quotes", size: "20x40") %>
		</p>
		<p class="lead text-right" id="book"><%= quote.author %></p>
	</div>
</div>

