<% quote = @quotes.sample %>

<div class="d-flex justify-content-center mt-5">
	<div class="jumbotron">
		<p class="display-4"">
		<%= image_tag("quotes.png", size: "20x40") %>
		<%= quote.body %>
		<%= image_tag("quotes.png", size: "20x40") %>
		</p>
		<p class="lead text-right"><%= "- " + quote.author %></p>
	</div>
</div>

