<div class="mt-5 d-flex justify-content-center">
	<div>
		<h1>About Move & Groove</h1>
		<ul class="list-group list-group-flush">
			<li class="list-group-item"><h3>Create an account!<h3></li>
			<li class="list-group-item"><h3>Keep track of your fitness habits!<h3></li>
			<li class="list-group-item"><h3>Stay healthy!!<h3></li>
		</ul>
	</div>
</div>