@import url('https://fonts.googleapis.com/css?family=Audiowide|Faster+One|Caveat');

body {
	margin-bottom: 50px;
}

.container {
	opacity: 1
}

.navbar-brand {
	font-family: 'Faster One', cursive;
	font-size: 45px
}

label {
	font-weight: bold
}

h1, h2, h3 {
	font-family: 'Audiowide', cursive;
}

.display-4 {
	font-family: 'Caveat', cursive;
}