<div class="d-flex justify-content-center mt-5">
	<div>	
		<h1>EDITING ACTIVITY</h1>

		<%= render 'form', activity: @activity %>

		<%= link_to 'Show', @activity %> |
		<%= link_to 'Back', activities_path %>
	</div>
</div>