<div class="d-flex justify-content-center mt-5">
	<div>	
		<h1>EDITING EXERCISE</h1>

		<%= render 'form', exercise: @exercise %>

		<%= link_to 'Show', @exercise %> |
		<%= link_to 'Back', exercises_path %>
	</div>
</div>
